
body{
    background-color: black;
    text-align: center;
    color: white;
    background-image: url('/Assets/images/inmate.Background2.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: relative;
    font-weight: 500;
    font-size: 25px;
    font-family: "arial";
}
.main{
    justify-content: space-around;
    margin-top: 0%;
}
.logo{
    float: left;
    position: fixed;
    justify-content: space-around;
    /* padding-right: 10px; */
}
li{
    font-weight: 700;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    
    
}
.dropDown{
    position: relative;
    display: inline-block;
}
.dropdown_content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
    z-index: 1;
}
.dropdown_content a{
    display: block;
    color: white;
    font-size: medium;
    padding-top: 10px;
}
.dropdown_content a:hover{
    background-color: aliceblue;
    color: orange;
    border-radius: 1vh;
}
.dropDown:hover .dropdown_content{
    display: block;
}
.dropDownBtn:visited,.dropDownBtn:hover{
    background-color: white;
    color: orange;
}
.dropDownBtn{
    padding: 10px 25px;
    background-color: orange;
    color: black;
    border-radius: 1vh;
    font-size: large;
    border: none;
}
a{
    text-decoration: none;
    color: orange;
    
}
#kamiti{
    justify-content: space-between
}
a:hover{
    color: orange;
    /* background-color: white; */
    border-radius: 1vh;
    padding: 5px 15px;
    text-decoration: underline;
}
.input{
    padding-top: 25vh;
}
#input-check{
    padding: 15px 40px;
    border-radius: 3vh;
    text-align: center;
    justify-content: center;
    border: none;
}
#submit {
    padding-left: 5px;
    padding: 10px 25px;
    border-radius: 2vh;
    background-color: orange;
    color: black;
    font-size: large;
    border: none;
}
.login{
    text-align: center;
    height: 100vh;
    justify-content: center;
}
#credentials{
    padding: 15px 40px;
    padding-top: 5px;
    border-radius: 2vh;
    text-align: center;
    justify-content: center
}
#register{
    padding-top:10px ;
    padding-left: 5px;
    padding: 10px 25px;
    border-radius: 2vh;
    background-color: orange;
    color: black;
    font-size: large;
    border: none;
}
#dob{
    padding: 15px 58px;
    border-radius: 2vh;
}
#home a:hover{
    padding-top: 15px;
    text-decoration: underline;
    background-color: none;
}
h2{
    padding-top: 0%;
}

